
$bubblesdiplay:'hidden';
  body, html {
    width:100%;
    margin:0!important;
    padding:0!important;
    left:0!important;

}
header{
  width:100vw;
  height:100vh;
  background:url("https://pagina-mama.s3.amazonaws.com/assets2/daniel/desert.png");
  background-size:cover!important;
  left:0!important;
  margin:0;
  padding:0;
  position:fixed;
}
  

  #rawr {
    display:$bubblesdiplay;
  }
  
  
  
  @keyframes walkanimation {
  
  
    
   
  
    0%{
      transform:scale(0.5);
      rotate: 30deg;
      $bubblesdiplay:'hidden';
    }
  
    50% {
      transform:scale(1.5);
      rotate:30deg;
    }
    100%{
      transform:scale(1);
      rotate:15deg;
      $bubblesdiplay:'visible';
    }
    
  }
  
  
  
  
  
  
  
  
  #banner{
    // position:absolute;
    width:50%!important;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    padding-bottom:0;
    display:block;
    background-color: transparent;
  }
  
  #dinosaur *{
    // position: absolute;
   
  
   
    animation: walkanimation 3s  both  0s!important;

    
  }
  #dinosaur:nth-child(2){
    position:absolute;
    top:40%;
  }
  #rawr {
    position:absolute;
    width:50%;
    top:-4%;
    left:-4%;
    rotate:-20deg!important;

  }
  #dinosaur {
    position:fixed;
    width: 40% !important;
    margin-left:30%;
    margin-right:30%;
    top:0%;
    display:inline-block;

  }

  @media screen and (max-width: 768px) {
    #dinosaur {
      position:fixed;
      width: 100%!important;

      

    }
    #dinosaur:nth-child(2){
      position:absolute;
      width:100%;
      left:-20%;
    }
    header,body, html {
      padding:0!important;
      left:0!important;
    }

    #banner {
      position:absolute;
      top: 20vh!important;
      width: 100%!important;
      left: 0!important;
      right: 0!important;

    }

  }