
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
.navbar-nav{
    font-family: 'Roboto'!important; 
    font-size:48px!important;
    color:#ffffff;
}
#homeroot{
    background-color:white!important;
    
}
.navbar-nav {
    font-family: 'Roboto'!important; 
    font-size:48px!important;
    color:white;
    line-height: 1;
    margin: 0!important;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.offcanvas{
    background:rgba(0, 0, 0, 0.5)!important;
}



iframe {
    position:fixed;
    display:flex;
    flex-direction:  row;
    justify-content: center;
    align-items: middle;
    
    position:absolute;
    width:50vw;
    margin-left:25vw;
    margin-right:25vw;
    height:80vh;
    align-self:center;
    bottom:auto;
    top:10vh;
}
body,html{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background:white!Important;
    
}
#homemain {
    display: flex;
    flex-direction: row;
    align-items: middle;
    width: 100vw;
    margin-left: 13vw;
    /* margin-right: 0vw; */
    /* height: 80vh; */
    align-self: center;
    bottom: auto;
    margin-top: 9vh;
}
#menutoggle {
    cursor:pointer;
    position:absolute;
    top:10px;

}