
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
.navbar-nav{
    font-family: 'Roboto'!important; 
    font-size:48px!important;
    color:#ffffff;
}
#homeroot{
    background-color:white!important;
    
}
.navbar-nav {
    font-family: 'Roboto'!important; 
    font-size:48px!important;
    color:white;
    line-height: 1;
    margin: 0!important;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.offcanvas{
    background:rgba(0, 0, 0, 0.5)!important;
}



body,html{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background:white!Important;
    
}
#homemain {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 13vw;
    /* margin-right: 0vw; */
    /* height: 80vh; */
    align-self: center;
    bottom: auto;
    margin-top: 40vh;
    
}
#menutoggle {
    cursor:pointer;
    position:absolute;
    top:10px;

}

#embed {
    display:flex;
    flex-direction:row;
    justify-content: center;
    object-fit: cover;
    position:fixed;
    height:60vh;
    width:100%;
    top:20vh;
    bottom:20vh;
    width:80vw;
    left:10vw;
    right:10vw;
    
    
}
iframe {
    width:70vw;
    height:auto;
    
}